.tackle-vote-table th, .tackle-vote-table td {
    border: 1px solid #ccc;
    padding: 8px;
}

.tackle-vote-form label {
	font-weight: 400;
}


.tackle-rating-frontend {
	font-family: Roboto,sans-serif;
}

.tackle-vote-form ol {
	padding: 0;
}

.tackle-vote-form li {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.tackle-vote-form label {
   display: flex;
   align-items: center;
	cursor: pointer;
}

.tackle-vote-form label strong {
	margin-right: 5px;
}

.tackle-vote-form .votes-count {
	margin: 0 5px;
}

.tackle-vote-form input {
   --active: #4a74a4;
   --active-inner: #fff;
   --border: #abb6c2;
   --border-hover: #4a74a4;
   --background: #fff;
   --disabled: #b8bec6;
   --disabled-inner: #b8bec6;
   -webkit-appearance: none;
   -moz-appearance: none;
   height: 21px;
   outline: none;
   display: inline-block;
   vertical-align: top;
   position: relative;
   margin: 0 10px 0 0;
   cursor: pointer;
   border: 1px solid var(--bc, var(--border));
   background: var(--b, var(--background));
   transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}

.tackle-vote-form input:after {
   content: "";
   display: block;
   left: 0;
   top: 0;
   position: absolute;
   transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
}

.tackle-vote-form input:checked {
   --b: var(--active);
   --bc: var(--active);
   --d-o: .3s;
   --d-t: .6s;
   --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
}

.tackle-vote-form input:disabled {
   --b: var(--disabled);
   cursor: not-allowed;
   opacity: 0.9;
}

.tackle-vote-form input:disabled:checked {
   --b: var(--disabled-inner);
   --bc: var(--border);
}

.tackle-vote-form input:disabled + label {
   cursor: not-allowed;
}

.tackle-vote-form input:hover:not(:checked):not(:disabled) {
   --bc: var(--border-hover);
}

.tackle-vote-form input:focus {
   --bc: var(--border-hover);
}

.tackle-vote-form input:focus {
   box-shadow: 0 0 0 var(--focus);
}

.tackle-vote-form input:not(.switch) {
   width: 21px;
}

.tackle-vote-form input:not(.switch):after {
   opacity: var(--o, 0);
}

.tackle-vote-form input:not(.switch):checked {
   --o: 1;
}

.tackle-vote-form input + label {
   display: inline-block;
   vertical-align: middle;
   cursor: pointer;
   margin-left: 8px;
}

.tackle-vote-form input:not(.switch) {
   border-radius: 7px;
}

.tackle-vote-form input:not(.switch):after {
   width: 5px;
   height: 9px;
   border: 2px solid var(--active-inner);
   border-top: 0;
   border-left: 0;
   left: 7px;
   top: 4px;
   transform: rotate(var(--r, 20deg));
}

.tackle-vote-form input:not(.switch):checked {
   --r: 43deg;
}

.tackle-vote-form * {
   box-sizing: inherit;
}

.tackle-vote-form *:before,
.tackle-vote-form *:after {
   box-sizing: inherit;
}

.tackle-vote-form .btn {
	margin-top: 15px;
}

.tackle-suggest-form {
	display: flex;
    justify-content: flex-start;
}

.tackle-suggest, .tackle-suggest-form label select {
	color: #000;
    background-color: #fff;
    padding: 7px 15px;
    border-radius: 0;
	border: 1px solid #abb6c2;
    box-shadow: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    outline: 0;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.tackle-suggest {
	margin-right: 15px;
}

.tackle-suggest:hover, .tackle-suggest:focus, .tackle-suggest:active {
	border: 1px solid #4a74a4;
}

.tackle-suggest-form label {
	margin-bottom: 0;
	font-weight: 400;
	position: relative;
  	display: inline-block;
	width: max-content;
	cursor: pointer;
}

.tackle-suggest-form .btn {
	margin-left: auto;
}

.tackle-suggest-form label select {
	height: 100%;
	appearance: none;
	padding: 7px 35px 7px 15px;
	cursor: pointer;
	margin-right: 15px;
}

.tackle-suggest-form label:after {
    position: absolute;
    bottom: 25%;
	right: 30px;
    font-family: "FontAwesome";
    content: "\f107";
	color: #000;
}

@media only screen and (max-width: 1025px) {
	.tackle-suggest-form {
		flex-direction: column;
	}
	
	.tackle-suggest-form .btn {
		margin-left: 0;
		margin-right: auto;
	}
	
	.tackle-suggest, .tackle-suggest-form .btn, .tackle-suggest-form label {
		margin-bottom: 15px;
	}
}